# Assets
assets/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# DATA and TEMP FILES
data/
assets/temp/     # Temp files
*.log           # Log files 

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/
.venv/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Inspiration: Sprites, similar games and features
inspiration/

# OS specific files
.DS_Store        # Mac
Thumbs.db        # Windows
desktop.ini      # Windows

# Project Notes
project_notes.md